# Java class files
*.class

# Maven / Gradle files
target/
build/

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.temp
supos_*
JavaClient-*

.vscode/
