<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supos.uns.dao.mapper.UnsLabelMapper">


    <select id="deleteRefByUnsIdLabelNames">
        DELETE from uns_label_ref ref where ref.uns_id = #{unsId} and label_id in
         (
         select id from uns_label where label_name in
        <foreach item="name" index="index" collection="labelNames" open="(" separator="," close=")">
            #{name}
        </foreach>
         )
    </select>

</mapper>
