<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="local">
        <include resource="logback-local.xml"/>
    </springProfile>

    <springProfile name="33893">
        <include resource="logback-33893.xml"/>
    </springProfile>

    <springProfile name="33997">
        <include resource="logback-33997.xml"/>
    </springProfile>

    <springProfile name="pride110">
        <include resource="logback-pride100.xml"/>
    </springProfile>

    <springProfile name="default">
        <include resource="logback-prod.xml"/>
    </springProfile>

</configuration>
