<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supos.app.dao.mapper.AppHtmlMapper" >

    <resultMap id="appHtmlResult" type="com.supos.app.dao.po.AppHtmlPO">
        <result column="id" property="id"/>
        <result column="app_name" property="appName"/>
        <result column="path" property="path"/>
        <result column="homepage" property="homepage"/>
        <result column="file_name" property="fileName"/>
    </resultMap>


    <insert id="insertHtml" parameterType="com.supos.app.dao.po.AppHtmlPO">
        INSERT INTO supos_app_html (id, app_name, path, homepage, file_name) VALUES (#{id}, #{appName}, #{path}, 0, #{fileName})
    </insert>

    <select id="selectAppHtml" resultMap="appHtmlResult">
        SELECT * FROM supos_app_html where app_name=#{appName}
    </select>

    <select id="getById" parameterType="long" resultMap="appHtmlResult">
        SELECT * FROM supos_app_html where id=#{id}
    </select>

    <select id="selectAppHomepage" resultMap="appHtmlResult">
        SELECT * FROM supos_app_html
        <where>
            homepage = 1
            <if test="appNames != null and appNames.size() > 0">
                and app_name IN
                <foreach item="i" collection="appNames" open="(" separator="," close=")">
                    #{i}
                </foreach>
            </if>
        </where>
    </select>

    <update id="setHomepage" parameterType="Long">
        UPDATE supos_app_html SET homepage = 1 WHERE id=#{id}
    </update>

    <update id="clearHomepage">
        UPDATE supos_app_html SET homepage = 0 WHERE app_name=#{appName}
    </update>

    <delete id="deleteHtml">
        DELETE FROM supos_app_html where id=#{id}
    </delete>

    <delete id="deleteAppHtml">
        DELETE FROM supos_app_html where app_name=#{appName}
    </delete>

    <delete id="deleteHtmlByName">
        DELETE FROM supos_app_html where app_name=#{appName} and file_name=#{fileName}
    </delete>


</mapper>